<div class="container text-center">

  <h1>{{title}}</h1>

  <form>

    Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1">
    <br><br>
    Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2">
    <br><br>
    <button type="submit" class="btn btn-primary me-1" (click)="sumar()">Sumar</button>

    <button type="submit" class="btn btn-primary me-1" (click)="restar()">Restar</button>

    <button type="submit" class="btn btn-primary" (click)="multiplicar()">Multiplicar</button>
    <br><br>

  </form>

  <p>Resultado: {{resultado}}</p>

</div>